@{
    ViewBag.Title = "Create";
}
@Html.ActionLink("Back", "Index")
<form method="post" enctype="multipart/form-data">
    <input type="text" name="Name" />
    <input type="submit" value="Create"/>
</form>