@model Blog.Models.Group
@{ 
    ViewBag.Title = "Delete";
}
@Html.ActionLink("Back", "Index")
<form method="post">
    <input value="@Model.Name" readonly />
    <input type="submit" value="Delete this group" />
</form>