@{ 
    ViewBag.Title = "Login to admin panel";
}

<form id="login" method="post">
    <input name="Username" type="text" placeholder="Username"/>
    <input name="Password" type="password" placeholder="Password"/>
    <input type="submit" value="Go on"/>
</form>