@{
    ViewBag.Title = "Password";
}

@Html.ActionLink("Back", "Index")

<form method="post">
    <label for="prev">Your previous pass</label>
    <input type="password" name="prev" />

    <label for="password">New password</label>
    <input type="password" name="password" />

    <label for="confirm">Confirm password</label>
    <input type="password" name="confirm" />

    <input type="submit" value="Update password" />
</form>