@model Blog.Models.File
@{
    ViewBag.Title = "Updating file: " + Model.Id;
}
@Html.ActionLink("Back", "Index")
<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <label for="Name">Name</label>
    <input type="text" name="Name" value="@Model.Name" />

    <label for="Parvandeh">Document</label>
    <p>
        If you don't wanna update the file, leave it without any new selection.
    </p>
    <input type="file" name="Parvandeh" />

    <input type="submit" value="Update" />
</form>