html, body {
    display: block;
    padding: 0;
    margin: 0;
    direction: rtl;
}

body {
    background-image: url('_s_a96b82c12Cd104e0f0g64h32393FF9F2E1iEAj34k64l158m158.jpg');
    color:white;
}