@import url("__animation.css");
@import url("__body.css");
@import url("__table.css");
@import url("__input.css");
@import url("__text.css");
@import url("__message.css");
@import url("responsiveslides.css");


@font-face {
    font-family: 'Main';
    src: url('AIranianSans.ttf');
}

* {
    font-family: Main;
}

footer {
    font-size: x-small;
  margin-bottom:0 !important;
    text-align: center;
    bottom: 0;
    z-index: 100;
    width: 100%;
    direction: ltr;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

    footer a {
        text-decoration: none;
        color: inherit;
        border: none;
    }

.Menu {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

    .Menu a {
        padding: 1%;
        background-color: rgba(135, 155, 6, 0.80);
        color: white;
    }

        .Menu a:hover, .Menu a:focus {
            border-width: .1em;
            border-color: #f2ff7f;
            box-shadow: 0 0 .1em #feff7f;
            color: black;
            background-color: rgba(255, 255, 255, 0.30);
        }

.Menu2 {
    padding-top: .5%;
    padding-bottom: .5%;
    margin: 0;
    text-align: center;
    background: -moz-radial-gradient(center, ellipse cover, rgb(199, 252, 68) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgb(239, 252, 68) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgb(216, 252, 68) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44f3fc', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

    .Menu2 a {
        background: none;
        border: none;
    }

        .Menu2 a:hover, .Menu2 a:focus, .Menu2 a:active {
            background-color: white;
        }

header, .Content {
    display: block;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: .5em;
    padding: 1%;
    border-width: .0em;
    border-style: solid;
}

header {
    background-image: url('21448654-nordic-seamless-christmas-red-pattern.jpg');
    background-repeat: repeat-x;
    background-position: top;
    background-size: 1em 1em;
    direction: ltr;
}

    header h1 {
        color: #fff200;
    }
    header h2{
        color:white;
    }

.Sign {
    padding: 0;
    padding-left: 4%;
    padding-right: 4%;
    opacity: 1;
}

.Logo {
    display: block;
    margin: 0 auto 0 auto;
    width: 90%;
    max-width:10em;
}
